@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poiret+One&display=swap');

@media only screen and (max-width: 900px) {
    .main-chooser {
        flex-direction: column !important;
        margin: 0 !important;

    }

    .line-divider {
        width: 100% !important;
        height: 5px !important;
    }

    .pixelart-choose, .upload-choose {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.main-chooser {
    display: flex;
    flex-direction: row;
    gap: 10vmin;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 75px);
    margin: 0 10%;
}

.pixelart-choose {
    text-align: right;
}
.pixelart-choose, .upload-choose {
    width: 49%;
}

.pixelart-choose > h1 {
    font-size: 6vmin;
    font-family: 'Consolas';
}

.upload-choose > h1 {
    font-size: 6vmin;
    font-family: 'Poiret One';
}

.pixelart-choose > p {
    font-size: 3.5vmin;
    font-family: 'Consolas';
}

.upload-choose > p {
    font-size: 3.5vmin;
    font-family: 'Poiret One';
}

.line-divider {
    width: 5px;
    height: 100vh;
    background-color: #9B0000;
}

.pixelart-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}

.pixelart-top-bar-right {
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
}

.color-picker-container > label > i {
    font-size: 3vmin;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pixelart-section {
    margin: 0 3%;
}

.pixelart-grid-container {
    display: grid;
    place-items: center;
    overflow-x: scroll;
}

.pixelart-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding: 20px;
    width: 100%;
}

.tile {
    aspect-ratio: 1;
    background-color: aquamarine;
    border: 1px solid black;    
}