@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poiret+One&display=swap');

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .main-chooser {
        flex-direction: column !important;
        margin: 0 !important;

    }

    .line-divider {
        width: 100% !important;
        height: 5px !important;
    }

    .pixelart-choose, .upload-choose {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.main-chooser {
    display: flex;
    flex-direction: row;
    gap: 10vmin;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 75px);
    margin: 0 10%;
}

.pixelart-choose {
    text-align: right;
}
.pixelart-choose, .upload-choose {
    width: 49%;
}

.pixelart-choose > h1 {
    font-size: 6vmin;
    font-family: 'Consolas';
}

.upload-choose > h1 {
    font-size: 6vmin;
    font-family: 'Poiret One';
}

.pixelart-choose > p {
    font-size: 3.5vmin;
    font-family: 'Consolas';
}

.upload-choose > p {
    font-size: 3.5vmin;
    font-family: 'Poiret One';
}

.line-divider {
    width: 5px;
    height: 100vh;
    background-color: #9B0000;
}

.pixelart-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    border: 3px dashed var(--secondary-color);
    border-collapse: collapse;
    border-bottom: none;
    border-radius: 25px;
    background-color: var(--card-bg-color);
    background-image: url('../img/card-bg-noalpha-1.png');
    background-size: contain;
    background-repeat: repeat-x;
}

.pixelart-top-bar-right {
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
}

.color-picker-container > label > i {
    font-size: 3vmin;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.pixelart-section {
    border: 3px solid var(--main-color);
    border-radius: 25px;
    margin: 0 3%;
}


.pixelart-grid-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: scroll;
    border-radius: 25px;
    background: rgb(0,120,207);
    background: linear-gradient(90deg, rgba(0,120,207,1) 0%, rgba(168,51,157,1) 27%, rgba(168,51,157,1) 73%, rgba(255,0,0,1) 100%);
}

.pixelart-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
}

.pixelart-show {
    width: 40vmin;
    aspect-ratio: 1;
    /* opacity: 0; */
    transition: opacity 1000ms;
    border-image-slice: 42 42 42 42;
    border-image-width: 42px 42px 42px 42px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
    border-style: solid;
    box-sizing: border-box;
}

.tile {
    aspect-ratio: 1;
    background-color: #ffffff;
    border: 1px solid black;    
}

.no-border {
    border: none;
    outline: none;
}

.section-headline {
    color: var(--main-color);
    margin: 30px 0 5px 3%;
    padding-left: 20px;
    font-size: clamp(1.5rem, 2.5vmin, 4rem);
}
.text-section {
    margin: 0 3%;
    padding: 0;
}

.text-section-grid {
    padding: 30px 0;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    display: grid;
    place-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.item3 {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.item4 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.item5 {
    grid-column: 3 / span 1;
    grid-row: 1;
}

.input-container {
    position: relative;
    height: 100%;
    display: block;
    /* height: 20px;
    overflow: hidden; */
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgcolor);
    margin: 6px 6px;
    padding: 3px 3px;
    /* height: 20px; */
    overflow: hidden;
    font-size: clamp(.5rem, 4.1vmin, 2rem);
    cursor: text;
}

input[type="text"], textarea, select {
    transition: .5s;
    border: 3px solid black;
    padding: 10px 10px;
    background-color: var(--bgcolor);
    outline: none;
    font-size: clamp(1rem, 5vmin, 2rem);
    font-family: 'Lato', sans-serif;
}

:is(.item2, .item3) input, textarea {
    width: 70vmin;
}

:is(.item1, .item5) input {
    width: 33vmin;
}

select {
    width: clamp(20vmin, 20vmin, 5em);
}

textarea {
    resize: none;
}

:is(input[type="text"], textarea, select):focus ~ .input-label, :is(input:not(:placeholder-shown), textarea:not(:placeholder-shown)) ~ .input-label, select:valid ~ .input-label {
    transform: translate(.25rem, -75%) scale(.8);
    /* transform-origin: 0 0; */
    transition: transform 350ms ease-out;
    color: var(--main-color);
}

:is(input[type="text"], textarea, select) ~ .input-label {
    transition: transform 350ms ease-out;
}

:is(input[type="text"], textarea, select):focus {
    border: none;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,120,207,1) 100%);
    border-image-slice: 1;
}

@media only screen and (max-width: 700px) {
    select {
        width: 20vmin;
    }
}

.file-section {
    margin: 0 3%;
    padding: 2em 0;
    display: grid;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    place-items: center;
    row-gap: 15px;
    font-size: 2vmin;
}


.file-drop-zone {
    padding: 1em 0;
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
    border: 5px dashed gray;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#file-drop-zone-p {
    margin: 0;
    aspect-ratio: 1;
}

#fileUpload {
    font-size: 2vmin;
    text-align: center;
}

.form-controls-section {
    box-sizing: border-box;
    margin: 30px 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:is(.controls-left, .controls-right) > p {
    text-align: center;
    font-size: 2vmin;
    padding: 0 20px;
}

.controls-left, .controls-right {
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

.controls-right {
    border-left: 2px solid black;
    width: 25%;
    padding-left: 3vmin;
}

.controls-left {
    border-right: 2px solid transparent;
    box-sizing: border-box;
    width: 75%;
}

.optional-label  {
    color: var(--other-text-color);
    text-transform: uppercase;
    font-size: clamp(.5rem, 1.5vmin, 3rem);
}

@media only screen and (max-width: 900px) {
    .file-drop-zone {
        width: 85%;
    }
}