:root {
    --success-color: #06b600;
    --in-progress-color: #008de5;
    --failure-color: #bd0202;
}

.state-card {
    display: flex;
    opacity: 0;
    position: fixed;
    place-items: center;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* z-index: -5; */
    flex-direction: row;
    width: 40vmin;
    color: white;
    font-size: 3vmin;
    min-height: 10vmin;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.76);
    background-image: url('../img/card-bg-noalpha-1.png');
}

.state-card--active {
    z-index: 10;
    animation: visible 1s forwards;
}

@keyframes visible {
    from { opacity: 0; }
    to { opacity: 1; }
}

.state-card-left {
    width: 30%;
}

.state-card-left, .state-card-right {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success {
    background-color: var(--success-color);
}

.in-progress {
    background-color: var(--in-progress-color);
}

.failure {
    background-color: var(--failure-color);
}

.spinner {
    margin-left: 10px;
    width: 5vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1vmin solid var(--bgcolor);
    border-top: 1vmin solid var(--main-color);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}