:root {
    --success-color: #06b600;
    --in-progress-color: #008de5;
    --failure-color: #bd0202;
}

.state-card {
    display: none;
    opacity: 1;
    position: fixed;
    place-items: center;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    flex-direction: row;
    width: 40vmin;
    color: white;
    font-size: 3vmin;
    min-height: 10vmin;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.76);
    background-image: url('../img/card-bg-noalpha-1.png');
}

.state-card-left {
    width: 20%;
}

.state-card-left, .state-card-right {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success {
    background-color: var(--success-color);
}

.in-progress {
    background-color: var(--in-progress-color);
}

.failure {
    background-color: var(--failure-color);
}