#valentines-category-title {
    font-size: 7vmin;
    color: var(--secondary-button-color);
    text-align: center;
}

.valentines-list {
    margin: 0 3%;
    margin-top: 5em;
}

.valentine-card {
    /* height: 10vmin; */
    height: auto;
    margin-top: 3vmin;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    font-size: 3vmin;
    border-radius: 0 15px 15px 0;
}

.valentine-card-right {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 75%;
    background-color: var(--card-bg-color);
    border-radius: 0 15px 15px 0;
}

.valentine-receiver {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em 1em;
    width: 20%;
    border-radius: 15px 0 0 15px;
    background-color: var(--button-color);
    color: var(--bgcolor);
    /* border-right: 5px dashed var(--card-bg-color); */
}

.valentine-receiver > i {
    font-size: 3rem;
}

.valentine-date {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    width: 100%;
    text-align: right;
    color: #00ffdd;
    font-size: 2vmin;
    font-family: 'Consolas', sans-serif;
}

.valentine-title {
    padding: 1em 0 0 1em;
    text-align: center;
    color: var(--bgcolor);
}

.valentine-type-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding: .5em 0 .5em 0; */
    color: var(--button-color-hovered);
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 1rem;
}

.valentine-type-info > p {
    margin: 0;
}

/* .valentine-element > * {
    height: 100%;
    display: flex;
    align-items: center;
} */

.featured {
    color: rgb(123, 0, 0);
}

hr {
    color: grey;
}