@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --envelope-color: #d33333;
    --envelope-inside-color: #a60707;
    --envelope-lid-color: #e53636;
    --overflow-hider-height: 100vh;
}

.valentine-main-container {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 7.1vh);
    display: grid;
    place-items: center;
}

.scroll-enabled {
    overflow: auto;
}

.envelope-container {
    position: relative;
    z-index: 1;
    width: 80vmin;
    aspect-ratio: 2.2;
    display: grid;
    place-items: center;
    background-color: var(--envelope-inside-color);
    box-shadow: 0 0 10px 0 black;
}

.envelope-container::after {
    z-index: 5;
    content: '';
    position: absolute;
    background-color: var(--bgcolor);
    width: 100%;
    height: var(--overflow-hider-height);
    top: 100%;
}

.envelope-seal {
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/envelope-seal.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17vmin;
    aspect-ratio: 1;
    background-color: transparent;
    outline: none;
    border: none;
}

.seal-logo {
    width: 30%;
    height: 40%;
}

.envelope-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto, 0;
    width: 0;
    height: 0;
    z-index: 3;
}

.triangle-bottom {
    border-left: 40vmin solid transparent;
    border-right: 40vmin solid transparent;
    border-bottom: 18.17vmin solid var(--envelope-color);
}

.triangle-top {
    border-left: 40vmin solid transparent;
    border-right: 40vmin solid transparent;
    border-top: 18.40vmin solid var(--envelope-lid-color);
    top: 0;
    opacity: 1;
    translate: 0 0;
}

.envelope-open {
    transform: translate(0, 120%)!important;
    transition: transform 1000ms;
}

.lid-open {
    transform: translate(0, -100%) scale(1, -1);
    transition: transform 1000ms;
    z-index: 0!important;
}

.letter-slide-out {
    translate: 0 -90%;
    transition: translate 1000ms ease-in-out 1000ms,
                z-index 0ms 1000ms;
    z-index: 2!important;
}

.triangle-left {
    border-left: 40vmin solid var(--envelope-color);
    border-top: 18.5vmin solid transparent;
    border-bottom: 18vmin solid transparent;
}

.triangle-right {
    left: 100%;
    transform: translate(-100%, 0);
    border-right: 40vmin solid var(--envelope-color);
    border-top: 18.5vmin solid transparent;
    border-bottom: 18vmin solid transparent;
}

/* .letter-pixelart {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    transform: translate(12.5%, 0);
    min-height: 50%;
    z-index: 2;
    background-color: green;
} */

.letter {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0;
    width: 80%;
    min-height: 50%;
    max-height: 75vh;
    overflow: auto;
    background-color: var(--letter-bg-color);
    border: 1px solid black;
    padding: 1% 3%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.1fr 0.1fr 0.8fr 0.1fr;
    /* overflow: hidden; */
}

.letter > p {
    font-size: 3vmin;
    font-family: 'Patrick Hand', cursive;
}

.vReceiver {
    grid-column: 1 / span 2;
}

.vDate {
    grid-column: 4 / span 2;
    text-align: right;
}

.vTitle {
    grid-column: 2 / span 3;
    grid-row: 2;
    text-align: center;
    font-weight: bold;
}

.letter > .vContent {
    grid-column: 1 / span 5;
    grid-row: 3;
    font-size: 2.5vmin;
}