.main-list--options {
    border-bottom: .3vmin dashed var(--main-color);
    padding: 1em 0;
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
}

.filter-options, .sort-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .main-list--options {
        flex-direction: column;
    }
}

.main-list--options :is(input[type="text"], select) {
    width: clamp(.4em, 19vmin, 10em);
    background-color: #242425;
    color: var(--bgcolor);
    border: 3px solid white;
}

.main-list--options .input-label {
    background-color: #242425;
    color: var(--bgcolor);
}

.main-list--options i {
    font-size: 7vmin;
    color: var(--bgcolor);
}

.main-list {
    background-color: #242425;
    border-radius: 2em;
}

.main-list--valentines {
    padding: 0 3%;
    padding-top: 3em;
}

.main-list--pages {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vmin;
}

.main-list--pages > a {
    font-size: 4vmin;
    color: var(--bgcolor);
    text-decoration: none;
    transition: color 350ms;
    letter-spacing: .2em;
}

.main-list--pages > a:first-child {
    border-right: 1px solid white;
}

.main-list--pages > a:last-child {
    border-left: 1px solid white;
}

.main-list--pages > a:hover{
    color: var(--secondary-color);
    transition: color 350ms;
}